.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding: 0;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  text-align: start;
  align-items: end;
}

@media screen and (max-width: 768px) {
  .place__title {
    width: 94%;
    font-size: 42px;
    line-height: 47px;
    max-width: 340px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    width: 90%;
    font-size: 10vw;
    line-height: 75%;
    margin: 0 auto 0;
  }
}
