.places {
  color: white;
  max-width: 85%;
  margin: 92px 11.7% 92px;
  display: grid;
  gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 90%;
    margin: 92px 5% 92px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 84px 3% 92px 3%;
    gap: 73px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 100%;
    margin: 69px 0 65px;
    padding: 0;
    gap: 57px;
    width: 100%;
  }
}
