.lead {
  text-align: center;
  color: white;
  width: 78%;
  margin: 56px 12% 92px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 90%;
    margin: 48px 5% 92px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
    margin: 48px 0 88px 0;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    margin-bottom: 59px;
    margin: 42px 0 64px 0;
    max-width: 100%;
  }
}
