.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-height: 584px;
  gap: 48px 40px;
}

.place:nth-child(1) {
  max-height: 660px;
}

.place:nth-child(4) {
  max-height: 660px;
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
    max-height: 564px;
  }
}

@media screen and (max-width: 1024px) {
  .place:nth-child(1) {
    max-height: 640px;
  }
}

@media screen and (max-width: 1024px) {
  .place:nth-child(4) {
    max-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    gap: 48px 28px;
    min-height: 434px;
    max-height: 581px;
  }
}

@media screen and (max-width: 768px) {
  .place:nth-child(1) {
    max-height: 581px;
  }
}

@media screen and (max-width: 768px) {
  .place:nth-child(2) {
    max-height: 535px;
  }
}

@media screen and (max-width: 768px) {
  .place:nth-child(3) {
    max-height: 483px;
  }
}

@media screen and (max-width: 768px) {
  .place:nth-child(4) {
    max-height: 434px;
  }
}

@media screen and (max-width: 768px) {
  .place:nth-child(5) {
    max-height: 484px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    width: 100%;
    /* max-height: 1042px; */
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 32px;
    min-height: 945px;
    max-height: 1042px;
  }
}

@media screen and (max-width: 320px) {
  .place:nth-child(1) {
    max-height: 1040px;
  }
}

@media screen and (max-width: 320px) {
  .place:nth-child(2) {
    max-height: 1016px;
  }
}

@media screen and (max-width: 320px) {
  .place:nth-child(3) {
    max-height: 990px;
  }
}

@media screen and (max-width: 320px) {
  .place:nth-child(4) {
    max-height: 963px;
  }
}

@media screen and (max-width: 320px) {
  .place:nth-child(5) {
    max-height: 965px;
  }
}
