.header {
  color: white;
  display: flex;
  width: 100%;
  margin: 29px auto 0;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 95%;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    width: 93%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin: 28px auto 0;
    max-width: 740px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 100%;
    margin: 12px auto 0;
    max-width: 288px;
  }
}
