.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  width: 75%;
  padding: 0;
  margin: 0 auto 32px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 0 13% 19px;
    max-width: 75%;
    font-size: 10vw;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    margin: 0px 14vw 0;
    max-width: 100%;
    font-size: 12.6vw;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: 90%;
    font-size: 12.6vw;
    line-height: 14vw;
    margin: 0 5% 12px;
  }
}
