.place__paragraph {
  max-width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4vw;
  line-height: 160%;
  margin: 0;
  grid-column: 2/3;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    font-size: 1.7vw;
    line-height: 167%;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 2vw;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    width: 85vw;
    font-size: 16px;
    margin: 0 2% 0;
    font-size: 5vw;
    line-height: 162%;
  }
}
