.lead__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 52%;
  margin: 0 auto 64px;
  padding: 0;
  padding-right: 2%;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 auto 56px;
    max-width: 85%;
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: 4vw;
    width: 67%;
    display: flex;
    line-height: 115%;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 5vw;
    line-height: 7vw;
    max-width: 100%;
    display: flex;
    margin: 0 auto 39px;
    width: 90vw;
  }
}
