.cover__overlay {
  color: #ffffff;
  text-decoration: none;
  min-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 31px;
}

.cover__overlay::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: .3;
  background: #2a2c2f;
}

.cover__overlay:hover::after {
  opacity: .8;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    width: 100%;
    min-height: 642px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    min-height: 62vw;
    margin-bottom: 64px;
    gap: 0;
  }
}
