.cover {
  background-image: url(images/cover-trains.jpg);
  background-position: left 0 bottom 0;
  background-size: 1184px 740px;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 740px;
  width: 1184px;
  margin: 0 auto 92px;
  position: relative;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .cover {
    background-size: 1024px 640px;
    height: 640px;
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    background-size: 768px 480px;
    height: 480px;
    max-width: 768px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    background-size: 320px 200px;
    height: 200px;
    max-width: 320px;
    margin-bottom: 64px;
  }
}
