.cover__title {
  z-index: 2;
  font-style: normal;
  font-weight: 900;
  font-size: 5vw;
  line-height: 76px;
  text-align: center;
  width: 100%;
  max-width: 36vw;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    width: 100%;
    font-size: 7vw;
    max-width: 50vw;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 9vw;
    max-width: 70vw;
    margin: 73px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 10vw;
    line-height: 100%;
    width: 100%;
    max-width: 75vw;
    margin-top: 0;
  }
}
