.cover__title {
  font-style: normal;
  font-weight: 900;
  text-align: center;
  width: 50%;
  max-width: 45%;
  position: relative;
  z-index: 2;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    width: 100%;
    font-size: 7vw;
    max-width: 50vw;
    line-height: 79px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    max-width: 70vw;
    font-size: 9.375vw;
    line-height: 76px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 10vw;
    line-height: 100%;
    max-width: 75vw;
  }
}
