.footer {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 0 0 24px 0;
  width: 91.9%;
  margin: 0 auto 0;
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 92%;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 94%;
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 60%;
    margin: 0 0 24px 5%;
    flex-direction: column;
    width: 100%;
  }
}
